
:root {
    --primary: #24AB70;
    --f-primary: "Roboto"
}
.container {
    max-width: 1180px;
    width: 95%;
}

header {
    background-color: #f4fbf8;
    padding-top: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    .logo {
        width: 185.7517px;
        height: 40px;
    }
    menu {
        max-width: 383.57px;
        div {
            font-size: 16px;
            font-weight: 600;
            color: #24ab70;
        }
    }
    .primary {
        width: 163.5px;
        height: 40px;
        border-radius: 4px;
    }
}
.section1 {
    height: 815px;
    background-image: url(assets/background-top.png);
    background-size: cover;
    background-position: 50% 100%;
    position: relative;
    padding-top: 33px;
    .container {
        z-index: 1;
        height: 576px;
    }
    img.house {
        position: absolute;
        right: 0;
        top: 149px;
        z-index: 0;
        clip-path: polygon(0% 0%, 100% 0%, 100.0% 79.6%, 0% 100%);
    }
    .box_info {
        max-width: 550px;
        width: 50%;
    }
    .project {
        padding: 14px 30px;
        height: 56px;
        border-radius: 4px;
        background-color: #24ab70;
        color: white;
    }
}

@media only screen and (max-width: 1024px) {
    header {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 9;
        height: 70px;
        box-shadow: 0px 4px 4px 0px #24AB70;
        .logo {
            width: 138px;
        }
    }
    .section1 {
        background-size: cover;
        height: 675px;
        padding: 0;
        background-image: url("/assets/background-top2.png");
        .product {
            padding: 0;
            height: 50px;
        }
        .container {
            height: 513px;
        }
        .box_info {
            display: flex;
            max-width: unset;
            width: 100%;
            max-width: 500px;
            .background {
                width: 335px;
                height: 231.07px;
                background: url(/assets/background.png);
                box-shadow: 0px 7.5px 20.8333px -6.25px rgba(25, 42, 89, 0.2);
                border-radius: 4px;
                background-position: 50% 20%;
            }
        }
    }
}
main {
    color: #fefeff;
}
.section_1 {
    display: flex;
    justify-content: center;
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #24ab70;
        background-color: #f8f9fe;
        width: 140.1px;
        height: 52px;
        border-radius: 4px;
        color: #24ab70;
    }
    .color_title {
        color: #054457;
    }
    .color_content {
        max-width: 580px;
        line-height: 24px;
        color: #73788c;
    }
    .background_arrow {
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #69b99d;
        border-radius: 50%;
    }
    .width {
        max-width: 580px;
        width: 95%;
    }
    .j-card {
        min-width: 880px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .card {
        width: calc((100% - 2 * 20px) / 3);
        min-width: 280px;
        border: 1px solid #dedcda;
        border-radius: 1px;
        padding: 16px 16px 15px 16px;
        .image {
            --url: url("/");
            background-image: var(--url);
            max-width: 347.6px;
            width: 100%;
            background-size: cover;
            background-position: 50%;
            height: 234.81px;
        }
        .card_infor {
            max-width: 347.6px;
            width: 100%;
            .color_title {
                color: #1f2744;
            }
            .color_content {
                color: #a6a6a6;
            }
            .color_price {
                display: flex;
                align-items: center;
                width: calc(50% - 43px / 2);
                color: #24ab70;
                padding-top: 4px;
            }
            .card_bonus {
                max-width: 204px;
                width: calc(92% - 43px / 2);
                background-color: #f5f5f5;
                padding: 0 8px;
                img {
                    width: 24px;
                    height: 24px;
                }
                .color_letter {
                    color: #a6a6a6;
                }
            }
            @media only screen and (max-width: 1108px) {
                .card_bonus {
                    width: 123px;
                }
            }
            .button {
                width: 100%;
            }
            .button--change {
                background-color: #69b99d;
                color: #fefeff;
            }
        }
    }
}
.section_2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    height: auto;
    .container_box {
        width: calc((100% - 24px) / 2);
        .button {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #24ab70;
            background-color: #f8f9fe;
            width: 134px;
            height: 52px;
            border-radius: 4px;
            color: #24ab70;
        }
        .color_title {
            color: #24ab70;
        }
        .color_content {
            color: #73788c;
        }
        .block {
            background-color: #fafafa;
            border-radius: 4px;
            width: calc((100% - 24px) / 2);
            padding: 24px 24px 9px 24px;
            .color_title {
                color: #333333;
            }
            .content {
                color: #333333;
                max-width: 228px;
                width: 100%;
            }
            .content_width {
                max-width: 173px;
                width: 100%;
            }
        }
        .wrap {
            padding: 16px 36px 16px 24px;
            background-color: #f4fbf8;
            .color_title {
                color: #333333;
            }
            .color_content {
                color: #333333;
            }
            .picture2 {
                background-size: cover;
                object-fit: cover;
                max-width: 254px;
                width: 100%;
                height: 111px;
            }
        }
    }
    .picture {
        background-image: url(assets/picture_5.png);
        width: calc((100% - 24px) / 2);
        height: 100%;
        background-size: cover;
    }
}
@media only screen and (max-width: 1024px) {
    .section_2 {
        .container_box {
            width: 100%;
            .wrap {
                .picture2 {
                    width: 128px;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            }
        }
        .picture {
            width: 100%;
            height: 362.23px;
            background-size: cover;
            width: 335px;
        }
    }
}
.section_3 {
    display: flex;
    justify-content: center;
    .box1 {
        background-image: url(/assets/background_green.png);
        background-position: 50% 100%;
        background-size: cover;
        border-radius: 4px;
        position: relative;
        overflow: hidden;
        width: calc((100% - 16px) / 2);
        padding: 40px 40px 53px 40px;
        background-color: #24ab70;
        .color {
            color: white;
            max-width: 288px;
            width: 100%;
        }
        .icon_1 {
            max-width: 168px;
            width: 95%;
            height: 120px;
            position: absolute;
            right: 44px;
            bottom: 52px;
        }
        .icon_2 {
            max-width: 188px;
            width: 95%;
            height: 188px;
            position: absolute;
            right: -1px;
            bottom: -3px;
        }
    }
    .hidden {
        display: none;
    }
    .box2 {
        width: calc((100% - 16px) / 2);
        .box--button {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #24ab70;
            background-color: #f8f9fe;
            width: 157px;
            height: 49.3311px;
            border-radius: 4px;
            color: #24ab70;
        }
        .color_content {
            color: #bdbdbd;
            height: 40.7785px;
        }
        .wrap {
            display: flex;
            align-items: center;
            padding: 0 16px;
            width: calc((100% - 32px) / 2);
            height: 58px;
            background-color: #f6f6f6;
            border: 2px solid #24ab70;
            border-radius: 4px;
            color: #ababab;
        }
        .wrap_comment {
            padding: 17px 16px;
            width: 100%;
            height: 121px;
            background-color: #f6f6f6;
            border: 2px solid #24ab70;
            border-radius: 4px;
            color: #ababab;
        }
        .button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 179px;
            height: 56px;
            border-radius: 4px;
            background-color: #24ab70;
            color: white;
        }
    }
}
@media only screen and (max-width: 1024px) {
    .section_3 {
        .box1 {
            width: 100%;
        }
        .box2 {
            width: 100%;
        }
        .hidden {
            display: flex;
        }
    }
}
.section_4 {
    height: 984px;
    background-position: 100% 0%;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-image: url(/assets/background-bottom.png);
    background-size: cover;
    position: relative;
    bottom: 30px;
    .testimonial {
        margin-bottom: 71px;
    }
    .container {
        position: absolute;
        bottom: 51px;
        .button {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #24ab70;
            background-color: #f8f9fe;
            width: 156.53060913085938px;
            height: 52px;
            border-radius: 4px;
            color: #24ab70;
        }
        .color_title {
            color: #24ab70;
        }
        .background_arrow {
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #69b99d;
            border-radius: 50%;
        }
        .j-card {
            padding: 0 5px;
            justify-content: space-between;
            min-width: 880px
        }
        .box_card {
            max-width: 980px;
            width: 100%;
            .card {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 278px;
                height: auto;
                padding: 8px 0;
                border-radius: 4px;
                box-shadow: 0px 4px 30px 0px #0000001a;
                background-color: white;
                .avatar {
                    width: 100px;
                    height: 100px;
                }
                .icon {
                    width: 24px;
                    height: 24px;
                }
                .color {
                    color: #2d2e2e;
                }
                .text {
                    padding: 16px 0;
                }
            }
        }
    }
}
footer {
    border-top: 2px solid #24AB70;
    padding-top: 70px;
    background-color: #f4fbf8;
    width: 100%;
    .logo {
        height: 30px;
    }
    menu {
        max-width: 383.57px;
        div {
            font-size: 16px;
            font-weight: 600;
            color: #8794BA;
            line-height: 24px;
        }
    }
    .box_footer {
        padding: 63px 0 51px 0;
        border-top: 1px solid #24ab70;
        .logo {
            width: 138.0169px;
            height: 30px;
        }
        .color {
            color: #8794ba;
        }
    }
}
@media only screen and (max-width: 1024px) {
    .section_4 {
        height: 890px;
        bottom: 0px;
        .color_title {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 58px;
        }
        .testimonial {
            margin-bottom: 55px;
        }
    }
    footer {
        padding-top: 45px;
        .logo {
            width: 138px;
            height: 30px;
        }
    }
}
@media only screen and (max-width: 660px) {
    .section_4 {
        height: 840px;
    }
}